$c-body-bg: $c-grey;
$c-header-bg: $c-white;
$c-main-nav-border: rgba($c-green, .5);
$c-main-nav-link: rgba($c-black, .5);
$c-main-nav-link-hover: $c-black;
$c-main-nav-link--active: $c-black;
$c-main-nav-link--active-border: rgba($c-black, .3);
$c-button-simple: rgba($c-black, .5);
$c-button-simple-bg: transparent;
$c-button-bordered: $c-green;
$c-button-bordered-bg: transparent;
$c-button-fill: $c-white;
$c-button-fill-bg: $c-green;
$c-geolocation-icon: transparent;
$c-geolocation-icon-stroke: rgba($c-black, .5);
$c-geolocation-hover: $c-black;
$c-geolocation-popup-bg: $c-white;
$c-geolocation-popup-shadow: rgba($c-black, .3);
$c-search: rgba($c-black, .5);
$c-search-icon: transparent;
$c-search-icon-stroke: rgba($c-black, .5);
$c-search-icon-stroke-hover: $c-black;
$c-search-input-shadow: rgba($c-black, .3);
$c-search-input-border: rgba($c-black, .3);
$c-search-input-border-hover: $c-black;
$c-tag-list-item-bg: $c-white;
$c-tag-list-item: $c-black;
$c-tag-list-item-active-bg: $c-green;
$c-tag-list-item-active: $c-white;
$c-switch-label-highlighted: $c-green;
$c-switch-bg: $c-white;
$c-switch-checkbox-circle: $c-green;
$c-switch-slider: $c-aluminum;
$c-partners-item: $c-white;
$c-partners-item-hover: rgba($c-black, .3);
$c-partners-item-percent: $c-black;
$c-partners-item-text: rgba($c-black, .4);
$c-partners-item-title: rgba($c-black, .5);
$c-offers-item-shadow: rgba($c-black, .4);
$c-offers-item-title: rgba($c-black, .5);
$c-offers-item-text: $c-black;
$c-bonuses-list-bg: $c-white;
$c-bonuses-title: $c-black;
$c-bonuses-title-bg: $c-white;
$c-bonuses-title_bg1: $c-grey;
$c-bonuses-title_bg2: $c-white;
$c-bonuses-item-percent: $c-white;
$c-bonuses-item-percent-bg: $c-black;
$c-bonuses-item-logo-shadow: rgba($c-black, .4);
$c-footer-bg: $c-white;
$c-footer-phone: $c-black;
$c-app-list-item-shadow: rgba($c-black, .4);
$c-socials-list-item-shadow: rgba($c-black, .4);
$c-footer-text: rgba($c-black, .5);
$c-footer-copyright-text: rgba($c-black, .5);
$c-breadcrumb-link: $c-grey2;
$c-breadcrumb-link-border: rgba($c-grey2, .15);
$c-breadcrumb-link-border-hover: rgba($c-grey2, .5);
$c-action-description: $c-white;
$c-action-duration: rgba($c-grey2, .5);
$c-action-item-before-bg: rgba($c-black, .5);
$c-action-link: $c-green;
$c-action-link-border: rgba($c-green, .3);
$c-action-link-border-hover: $c-green;
$c-action-conditions-small: rgba($c-black, .5);
$c-action-conditions-small-link: rgba($c-green, .5);
$c-contacts-item-border: $c-black;
$c-contacts-item-border-selected: $c-green;
$c-contacts-phone: $c-black;
$c-contacts-site: $c-green;
$c-contacts-site-border: rgba($c-green, .3);
$c-contacts-site-border-hover: $c-green;
$c-contacts-route: rgba($c-black, .5);
$c-contacts-route-border: rgba($c-black, .3);
$c-contacts-route-border-hover: $c-black;
$c-contacts-map-bg: rgba($c-black, .2);
$c-header-menu-toggle-bg: transparent;
