{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "curly": ["error", "all"],
    "max-depth": ["error", 2],
    "max-len": ["error", { "code": 120 }],
    "max-lines": [
      "error",
      {
        "max": 120,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-lines-per-function": [
      "error",
      {
        "max": 20,
        "skipBlankLines": true,
        "skipComments": true,
        "IIFEs": true
      }
    ],
    "max-params": "error",
    "no-implicit-coercion": [
      "error",
      {
        "allow": ["!!"]
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      { "max": 1, "maxEOF": 0, "maxBOF": 0 }
    ],
    "no-negated-condition": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  }
}
